# Environment variables
.env
.env.local
.env.*.local
.env.production
backend/.env
frontend/.env.local

# Documentation
*.md
!README.md

# Dependencies
node_modules/
venv/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# IDE
.vscode/
.idea/

# Next.js
.next/
out/

# Production
/build

# Python
__pycache__/
*.pyc

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/lib/generated/prisma
